body{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

}

.menu_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 50px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.user_index_site{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.user_index_site a{
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    letter-spacing: 2px;

}

.index_forum_news_site{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 50px;
}

.index_forum_news_site a{
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.user_photo_name_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
}

.photo_name_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.photo_user_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.photo_user_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name_user_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.input_output{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.name_user_profile a{
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.user_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.edit_login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.edit_login-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 450px;
}

.edit_info_profile{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 60px;
    padding: 0 0 15px 20px;
}

.edit_info_profile span{
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.btn_edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    padding: 0 20px 0 20px;
}

.edit_btn_success1{
    background-color: #22A928;
    border-radius: 5px;
    width: 115px;
    height: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    outline: none;
}

.edit_btn_success1:active{
    outline: none;
}

.edit_btn_success2{
    background-color: #22A928;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    color: black;
    outline: none;
}

.edit_btn_success2 a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}
















